---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>お探しのページは見つかりませんでした</title>
  </head>
  <body>
    <h1>404 not found</h1>
    <p>お探しのページは見つかりませんでした。</p>
    <a href="/">ホームに戻る</a>
  </body>
</html>
